@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300,400;500;600;700&display=swap");
/* Color */
/* Font Size */
/* Line Height */
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgba(38, 34, 98, 0.8);
}

h2 {
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 0.01em;
}

h3 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  line-height: 36px;
}

h5 {
  font-size: 20px;
  line-height: 30px;
}

h6 {
  font-size: 18px;
  line-height: 27px;
}

strong {
  font-weight: 700;
}

.small-text {
  font-size: 14px !important;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p {
  letter-spacing: 0.02em;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 36px;
    line-height: 48px !important;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 30px;
    line-height: 38px !important;
  }

  h3 {
    font-size: 24px;
    line-height: 36px !important;
  }

  h4 {
    font-size: 20px;
    line-height: 28px !important;
  }

  h5 {
    font-size: 18px;
    line-height: 24px !important;
  }

  h6 {
    font-size: 16px;
    line-height: 22px !important;
  }

  body {
    font-size: 14px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}

p {
  margin-bottom: 0;
}

.gradient-text {
  background: linear-gradient(97.3deg, #221f57 -25.36%, #5b2a85 23.23%, #a22886 62.23%, #eb2770 106.03%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(97.3deg, #221f57 -25.36%, #5b2a85 23.23%, #a22886 62.23%, #eb2770 106.03%) !important;
}

::selection {
  background-color: #eb2770;
  color: #fff;
}

.contents-row,
.d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.align-items-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.container {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.white-bg {
  background-color: #ffffff !important;
}

.section-lead {
  text-align: center;
  width: 857px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .contents-row {
    flex-flow: row wrap;
  }
}
@media screen and (max-width: 575px) {
  .contents-row .figure {
    width: 100% !important;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .contents-row .content {
    width: 100% !important;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding-top: 50px;
    padding-right: 0 !important;
  }
}

.spinner {
  position: absolute;
}

section::before, section::after {
  max-width: 100% !important;
}

::-webkit-scrollbar {
  width: 6px;
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  width: 6px;
  background: linear-gradient(to bottom, #221f57 -25.36%, #5b2a85 23.23%, #a22886 62.23%, #eb2770 106.03%);
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: 0 0;
}

.btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  box-shadow: none;
  padding: 20px 28px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 23px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  white-space: nowrap;
  /* defining prefixes so we can use them in mixins below*/
  -webkit-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  -transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.btn:hover {
  opacity: 0.8;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
@media screen and (max-width: 767px) {
  .btn {
    padding: 12px 25px;
  }
}
.btn.gradient-bg {
  color: #ffffff;
}

.main-header {
  padding: 37px 0px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .main-header {
    padding: 15px 0px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
  }
  .main-header ~ section, .main-header ~ div {
    margin-top: 74px;
  }
}
.main-header .container {
  width: 1354px;
  flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main-header .logo-wrap {
  margin-right: 20px;
  width: 157px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .main-header .logo-wrap {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }
  .main-header .logo-wrap .logo {
    max-width: 120px;
  }
}

.nav-toggler {
  padding: 0 5px;
  text-align: center;
  position: relative;
  color: #262262;
  margin-right: 30px;
  display: none;
  margin-left: auto;
}
@media screen and (max-width: 991px) {
  .nav-toggler {
    display: block;
    margin-right: 0;
  }
}
.nav-toggler span, .nav-toggler::before, .nav-toggler::after {
  content: "";
  width: 28px;
  height: 3px;
  background: currentColor;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  /* defining prefixes so we can use them in mixins below*/
  -webkit-transition: transform 0.3s ease-in;
  -ms-transition: transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  -transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
.nav-toggler span {
  width: 28px;
  margin: 4px 0;
}
.nav-toggler.expanded {
  width: 38px;
  height: 38px;
}
.nav-toggler.expanded span {
  display: none;
}
.nav-toggler.expanded::before, .nav-toggler.expanded::after {
  position: absolute;
  width: 30px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggler.expanded::before {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-wrap {
  margin-left: auto;
  max-width: calc(100% - 206px);
}
.nav-wrap ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.nav-wrap ul li {
  margin: 0 27px;
}
.nav-wrap ul li a {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  text-transform: capitalize;
}
.nav-wrap ul li a:hover {
  color: #000000;
}
@media screen and (max-width: 991px) {
  .nav-wrap {
    width: 100%;
    max-width: 100%;
    position: fixed;
    left: 0;
    top: 74px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    /* defining prefixes so we can use them in mixins below*/
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .nav-wrap.expanded {
    opacity: 1;
    visibility: visible;
  }
  .nav-wrap.expanded .nav {
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  .nav-wrap .nav {
    width: 75%;
    background-color: #ffffff;
    padding: 50px;
    min-height: calc(100vh - 74px);
    max-height: calc(100vh - 74px);
    overflow: auto;
    /* defining prefixes so we can use them in mixins below*/
    -webkit-transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    -ms-transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    -o-transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    -transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .nav-wrap .nav ul {
    flex-flow: row wrap;
  }
  .nav-wrap .nav ul li {
    width: 100%;
    margin: 0;
  }
  .nav-wrap .nav ul li + li {
    margin-top: 10px;
  }
  .nav-wrap .nav ul li a {
    padding: 5px;
  }
}
@media screen and (max-width: 767px) {
  .nav-wrap .nav {
    padding: 30px 25px;
  }
}

.hero-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../images/weve-line-5.jpg);
  width: 465px;
  height: 1216px;
  contain: content;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  background-position: left top;
}
.hero-section .container {
  width: 1367px;
}
.hero-section .container .contents-wrap {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 50px;
  min-height: 647px;
  background-image: url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  -webkit-border-radius: 54px;
  -moz-border-radius: 54px;
  border-radius: 54px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}
.hero-section .container .contents-wrap::before {
  content: url(../images/hero-overlay.png);
  position: absolute;
  top: 0;
  right: -86px;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .hero-section .container .contents-wrap {
    min-height: 300px;
  }
}
.hero-section .container .contents-wrap .contents {
  width: 730px;
  max-width: 100%;
  text-align: center;
}
.hero-section .container .contents-wrap .contents > * {
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .hero-section .container .contents-wrap .contents {
    width: 650px;
  }
}
.hero-section .container .contents-wrap .contents .count-down {
  margin-top: 59px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 34px;
  line-height: 45px;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .hero-section .container .contents-wrap .contents .count-down {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .hero-section .container .contents-wrap .contents .count-down {
    margin-top: 0;
  }
}
.hero-section .container .contents-wrap .contents h2 {
  line-height: 64px;
  letter-spacing: 0.01em;
  margin-bottom: 28px;
}
@media screen and (max-width: 767px) {
  .hero-section .container .contents-wrap .contents h2 {
    margin-bottom: 15px;
  }
}
.hero-section .container .contents-wrap .contents h6 {
  font-weight: 300;
  margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
  .hero-section .container .contents-wrap .contents h6 {
    margin-bottom: 5px;
  }
}
.hero-section .container .contents-wrap .contents p {
  letter-spacing: 0.01em;
  font-weight: 14px;
  text-transform: uppercase;
}
.hero-section .container .contents-wrap .contents .btn {
  margin-top: 54px;
}
@media screen and (max-width: 767px) {
  .hero-section .container .contents-wrap .contents .btn {
    margin-top: 30px;
  }
}

.about-section {
  margin-top: 174px !important;
  position: relative;
}
@media screen and (max-width: 991px) {
  .about-section {
    margin-top: 100px !important;
  }
}
@media screen and (max-width: 767px) {
  .about-section {
    margin-top: 70px !important;
  }
}
.about-section::after {
  content: "";
  background-image: url(../images/weve-line-3.jpg);
  width: 950px;
  height: 1904px;
  position: absolute;
  right: 0;
  top: -340px;
  max-width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100%;
}
.about-section .container {
  position: relative;
}
.about-section .container .spinner {
  right: -45px;
  top: -108px;
}
.about-section .figure {
  width: 40.8333333333%;
}
.about-section .content {
  padding-right: 80px;
  width: calc(100% - 40.83333333333%);
}
.about-section .content h2 {
  margin-bottom: 12px;
}
.about-section .content h5 {
  padding-top: 30px;
  margin-bottom: 16px;
}
.about-section .content p {
  color: rgba(0, 0, 0, 0.6);
  max-width: 545px;
}
.about-section > .spinner {
  left: 50%;
  margin-top: -16px;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.track-section {
  margin-top: 160px !important;
}
@media screen and (max-width: 991px) {
  .track-section {
    margin-top: 100px !important;
  }
}
@media screen and (max-width: 767px) {
  .track-section {
    margin-top: 50px !important;
  }
}

.card-row {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 34px;
  flex-flow: row wrap;
}
.card-row .card {
  width: calc((100% / 4) - 20px);
  padding: 74px 30px;
  background-color: #f9fafd;
  margin: 20px 10px 0;
  text-align: center;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  border-radius: 44px;
}
@media screen and (max-width: 991px) {
  .card-row .card {
    width: calc((100% / 2) - 20px);
  }
}
@media screen and (max-width: 575px) {
  .card-row .card {
    width: 100%;
  }
}
.card-row .card figure {
  width: 123px;
  height: 123px;
  display: block;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  border-radius: 38px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}
.card-row .card figure img {
  max-width: 60px;
}
.card-row .card h5 {
  margin: 34px auto 0;
  text-transform: capitalize;
  font-weight: 600;
}

.who-should-apply-section {
  background: #f9fafd;
  margin-top: 206px;
  padding-top: 160px;
  -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
  -webkit-border-radius: 54px;
  -moz-border-radius: 54px;
  border-radius: 54px;
}
@media screen and (max-width: 767px) {
  .who-should-apply-section {
    padding-top: 100px;
    -webkit-clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
  }
}
@media screen and (max-width: 575px) {
  .who-should-apply-section {
    -webkit-clip-path: polygon(0 0, 100% 25px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 25px, 100% 100%, 0 100%);
  }
}
.who-should-apply-section .container {
  width: 1307px;
  flex-flow: row wrap;
  position: relative;
}
.who-should-apply-section .container::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #5b2a85;
  position: absolute;
  top: -52px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.who-should-apply-section .contents {
  margin-right: -40px;
}
.who-should-apply-section .options-container {
  width: calc(100% - 46.33928571428571%);
}
@media screen and (max-width: 991px) {
  .who-should-apply-section .options-container {
    width: 100%;
  }
}
.who-should-apply-section .options-col {
  position: relative;
  flex-flow: row wrap;
}
.who-should-apply-section .options-col::after {
  content: "";
  background: #262262;
  width: 1px;
  position: absolute;
  left: 50%;
  margin-left: -0.5px;
  top: 55px;
  bottom: 55px;
  opacity: 0.2;
}
@media screen and (max-width: 575px) {
  .who-should-apply-section .options-col::after {
    display: none;
  }
}
.who-should-apply-section .options-col .option-wrap {
  padding-right: 10%;
  width: 50%;
  position: relative;
}
.who-should-apply-section .options-col .option-wrap + .option-wrap {
  padding-right: 20px;
  padding-left: 10%;
}
.who-should-apply-section .options-col .option-wrap:first-child {
  padding-left: 40px;
}
.who-should-apply-section .options-col .option-wrap:first-child::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #eb2770;
  position: absolute;
  top: 20%;
  right: 25%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
@media screen and (max-width: 575px) {
  .who-should-apply-section .options-col .option-wrap {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .who-should-apply-section .options-col .option-wrap + .option-wrap {
    margin-top: 30px;
    padding-right: 0;
  }
}
.who-should-apply-section .options-col .option-wrap figure {
  width: 74px;
  height: 74px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}
.who-should-apply-section .options-col .option-wrap figure::before {
  content: "";
  background: linear-gradient(97.3deg, #221f57 -25.36%, #5b2a85 23.23%, #a22886 62.23%, #eb2770 106.03%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  opacity: 0.2;
}
.who-should-apply-section .options-col .option-wrap figure::after {
  content: "";
  background: #f9fafd;
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  z-index: -1;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
}
.who-should-apply-section .options-col .option-wrap h4 {
  margin-top: 30px;
  margin-bottom: 8px;
}
.who-should-apply-section .options-col .option-wrap ul li {
  margin-top: 8px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.who-should-apply-section .description-col {
  width: 46.3392857143%;
  background-color: #ffffff;
  padding: 50px 43px 0;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
}
@media screen and (max-width: 991px) {
  .who-should-apply-section .description-col {
    width: 100%;
    margin-top: 50px;
  }
}
.who-should-apply-section .description-col h2 {
  margin-bottom: 16px;
}
.who-should-apply-section .description-col figure {
  width: 100%;
  min-height: 218px;
  margin-top: 33px;
  overflow: hidden;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
.who-should-apply-section .description-col figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.program-phases-section {
  margin-top: 183px;
}
@media screen and (max-width: 991px) {
  .program-phases-section {
    margin-top: 100px;
  }
}
@media screen and (max-width: 767px) {
  .program-phases-section {
    margin-top: 70px;
  }
}
.program-phases-section .section-lead h2 {
  margin-bottom: 26px;
}
.program-phases-section .card-row {
  margin-top: 26px;
  margin-left: -14px;
  margin-right: -14px;
  flex-flow: row wrap;
}
.program-phases-section .card-row .card {
  margin: 28px 14px 0;
  width: calc(100% / 3 - 28px);
  padding: 73px 30px 50px;
  background-color: #f9fafd;
  text-align: center;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
}
.program-phases-section .card-row .card h3,
.program-phases-section .card-row .card h6 {
  margin-bottom: 34px;
  text-transform: uppercase;
}
.program-phases-section .card-row .card h6 {
  margin-bottom: 32px;
}
.program-phases-section .card-row .card span {
  font-size: 74px;
  line-height: 111px;
  font-weight: 600;
}
.program-phases-section .card-row .card p {
  max-width: 205px;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .program-phases-section .card-row .card {
    padding: 50px 15px 30px;
  }
  .program-phases-section .card-row .card h3,
.program-phases-section .card-row .card h6 {
    margin-bottom: 20px;
  }
  .program-phases-section .card-row .card span {
    font-size: 50px;
    line-height: 85px;
  }
}
@media screen and (max-width: 767px) {
  .program-phases-section .card-row .card {
    width: 100%;
  }
}
.program-phases-section .btn {
  display: block;
  margin: 68px auto 0;
  max-width: 157px;
}

/*# sourceMappingURL=main.css.map */
