@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300,400;500;600;700&display=swap");
/* Color */
/* Font Size */
/* Line Height */
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  line-height: 36px;
}

h5 {
  font-size: 20px;
  line-height: 30px;
}

h6 {
  font-size: 18px;
  line-height: 27px;
}

strong {
  font-weight: 700;
}

.small-text {
  font-size: 14px !important;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 36px;
    line-height: 48px !important;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 30px;
    line-height: 48px !important;
  }

  h3 {
    font-size: 24px;
    line-height: 36px !important;
  }

  h4 {
    font-size: 20px;
    line-height: 28px !important;
  }

  h5 {
    font-size: 18px;
    line-height: 24px !important;
  }

  h6 {
    font-size: 16px;
    line-height: 22px !important;
  }

  body {
    font-size: 14px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}

p {
  margin-bottom: 0;
}

.gradient-text {
  background: linear-gradient(97.3deg, #221f57 -25.36%, #5b2a85 23.23%, #a22886 62.23%, #eb2770 106.03%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::selection {
  background-color: #eb2770;
  color: #fff;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.white-bg {
  background-color: #ffffff !important;
}

::-webkit-scrollbar {
  width: 6px;
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  width: 6px;
  background: linear-gradient(to bottom, #221f57 -25.36%, #5b2a85 23.23%, #a22886 62.23%, #eb2770 106.03%);
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: 0 0;
}

.btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  box-shadow: none;
  padding: 20px 28px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 23px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  white-space: nowrap;
  /* defining prefixes so we can use them in mixins below*/
  -webkit-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  -transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.btn:hover {
  opacity: 0.8;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
@media screen and (max-width: 767px) {
  .btn {
    padding: 12px 25px;
  }
}

.main-header {
  padding: 37px 0px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .main-header {
    padding: 15px 0px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
  }
  .main-header ~ section, .main-header ~ div {
    margin-top: 74px;
  }
}
.main-header .container {
  width: 1354px;
  flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main-header .logo-wrap {
  margin-right: 20px;
  width: 157px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .main-header .logo-wrap {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }
  .main-header .logo-wrap .logo {
    max-width: 120px;
  }
}

.nav-toggler {
  padding: 0 5px;
  text-align: center;
  position: relative;
  color: #262262;
  margin-right: 30px;
  display: none;
  margin-left: auto;
}
@media screen and (max-width: 991px) {
  .nav-toggler {
    display: block;
    margin-right: 0;
  }
}
.nav-toggler span, .nav-toggler::before, .nav-toggler::after {
  content: "";
  width: 28px;
  height: 3px;
  background: currentColor;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  /* defining prefixes so we can use them in mixins below*/
  -webkit-transition: transform 0.3s ease-in;
  -ms-transition: transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  -transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
.nav-toggler span {
  width: 28px;
  margin: 4px 0;
}
.nav-toggler.expanded {
  width: 38px;
  height: 38px;
}
.nav-toggler.expanded span {
  display: none;
}
.nav-toggler.expanded::before, .nav-toggler.expanded::after {
  position: absolute;
  width: 30px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggler.expanded::before {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-wrap {
  margin-left: auto;
  max-width: calc(100% - 206px);
}
.nav-wrap ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.nav-wrap ul li {
  margin: 0 27px;
}
.nav-wrap ul li a {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  text-transform: capitalize;
}
.nav-wrap ul li a:hover {
  color: #000000;
}
@media screen and (max-width: 991px) {
  .nav-wrap {
    width: 100%;
    max-width: 100%;
    position: fixed;
    left: 0;
    top: 74px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    /* defining prefixes so we can use them in mixins below*/
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .nav-wrap.expanded {
    opacity: 1;
    visibility: visible;
  }
  .nav-wrap.expanded .nav {
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  .nav-wrap .nav {
    width: 75%;
    background-color: #ffffff;
    padding: 50px;
    min-height: calc(100vh - 74px);
    max-height: calc(100vh - 74px);
    overflow: auto;
    /* defining prefixes so we can use them in mixins below*/
    -webkit-transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    -ms-transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    -o-transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    -transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .nav-wrap .nav ul {
    flex-flow: row wrap;
  }
  .nav-wrap .nav ul li {
    width: 100%;
    margin: 0;
  }
  .nav-wrap .nav ul li + li {
    margin-top: 10px;
  }
  .nav-wrap .nav ul li a {
    padding: 5px;
  }
}
@media screen and (max-width: 767px) {
  .nav-wrap .nav {
    padding: 30px 25px;
  }
}

.hero-section::before {
  content: url(../images/top-left-graphics-croped.png);
  position: absolute;
  left: 0;
  top: 0;
}
.hero-section .container {
  width: 1367px;
}
.hero-section .container .contents-wrap {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 50px;
  min-height: 647px;
  background-image: url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  -webkit-border-radius: 54px;
  -moz-border-radius: 54px;
  border-radius: 54px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}
.hero-section .container .contents-wrap::before {
  content: url(../images/hero-overlay.png);
  position: absolute;
  top: 0;
  right: -86px;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .hero-section .container .contents-wrap {
    min-height: 300px;
  }
}
.hero-section .container .contents-wrap .contents {
  width: 730px;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .hero-section .container .contents-wrap .contents {
    width: 650px;
  }
}
.hero-section .container .contents-wrap .contents .count-down {
  margin-top: 59px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 34px;
  line-height: 45px;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .hero-section .container .contents-wrap .contents .count-down {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .hero-section .container .contents-wrap .contents .count-down {
    margin-top: 0;
  }
}
.hero-section .container .contents-wrap .contents h2 {
  line-height: 64px;
  letter-spacing: 0.01em;
  margin-bottom: 28px;
}
@media screen and (max-width: 767px) {
  .hero-section .container .contents-wrap .contents h2 {
    margin-bottom: 15px;
  }
}
.hero-section .container .contents-wrap .contents h6 {
  font-weight: 300;
  margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
  .hero-section .container .contents-wrap .contents h6 {
    margin-bottom: 5px;
  }
}
.hero-section .container .contents-wrap .contents p {
  letter-spacing: 0.01em;
  font-weight: 14px;
  text-transform: uppercase;
}
.hero-section .container .contents-wrap .contents .btn {
  margin-top: 54px;
}
@media screen and (max-width: 767px) {
  .hero-section .container .contents-wrap .contents .btn {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
