.about-section {
   margin-top: 100px !important;
   padding-top: 74px;
   position: relative;
   @media screen and (max-width: 991px) {
      margin-top: 100px !important;
   }
   @media screen and (max-width: 767px) {
      margin-top: 0px !important;
   }
   &::after {
      content: "";
      background-image: url(../images/weve-line-3.jpg);
      width: 950px;
      height: 2015px;
      position: absolute;
      right: 0;
      top: -340px;
      max-width: 100%;
      z-index: -1;
      @include background-property;
      @media screen and (max-width: 1200px) {
         height: 280%;
      }
      @media screen and (max-width: 991px) {
         height: 325%;
      }
   }
   .container {
      position: relative;
      .spinner {
         right: -45px;
         top: -108px;
      }
   }
   .figure {
      width: 40.83333333333%;
      figure {
         margin-right: -24px;
         margin-left: 24px;
         @media screen and (max-width: 991px) {
            margin-right: 0;
            margin-left: 0;
         }
      }
   }
   .content {
      padding-top: 14px;
      padding-right: 70px;
      width: calc(100% - 40.83333333333%);
      h2 {
         margin-bottom: 12px;
      }
      h5 {
         padding-top: 30px;
         margin-bottom: 16px;
      }
      p {
         color: $black-light2;
         max-width: 545px;
         & + p {
            margin-top: 30px;
            margin-top: 25px;
            font-size: 14px;
            letter-spacing: 0;
            a {
               margin-left: 4px;
            }
         }
      }
   }
   & > .spinner {
      left: 50%;
      margin-top: -16px;
      @include transform(translateX(-50%));
   }
}
