.faq-section {
   margin-top: 71px !important;
   padding-top: 71px;
   position: relative;
   &.weve-line {
      &::before {
         background-image: url(../images/weve-line-1.jpg);
         background-position: top;
         background-repeat: no-repeat;
         left: auto;
         right: 0;
         top: 32px;
         width: 390px;
         min-height: 850px;
      }
   }
   .container {
      position: relative;
      .spinner {
         right: 15%;
         left: auto;
         bottom: -15%;
      }
   }
   @media screen and (max-width: 991px) {
      margin-top: 0px !important;
      padding-top: 80px;
   }
   @media screen and (max-width: 767px) {
      margin-top: 0px !important;
   }
   .section-lead {
      width: 409px;
      margin-bottom: 44px;
   }
   .item-row {
      width: 100%;
      padding: 17px 27px 16px;
      cursor: pointer;
      @include border-radius(12px);
      &:nth-child(odd) {
         background: $secondary;
      }
      color: $black-light3;
      h6 {
         color: $black-light3;
         letter-spacing: 0.02em;
      }
      .ans {
         display: none;
         margin-top: 10px;
      }
      ul {
         li {
            position: relative;
            padding-left: 30px;
            &::before {
               content: "";
               width: 10px;
               height: 10px;
               position: absolute;
               left: 0;
               top: 10px;
               background-color: $primary-transparent2;
               @include border-radius(50px);
            }
            & + li {
               margin-top: 6px;
            }
         }
      }
   }
}
