.hero-section {
   &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-image: url(../images/weve-line-5.jpg);
      width: 465px;
      height: 1216px;
      contain: content;
      z-index: -1;
      @include background-property;
      background-position: left top;
   }
   .container {
      width: 1367px;
      .contents-wrap {
         position: relative;
         overflow: hidden;
         z-index: 1;
         padding: 104px 50px;
         min-height: 647px;
         background-image: url(../images/hero-image.jpg);
         @include background-property;
         @include border-radius(54px);
         @include flex(center);
         &::before,
         &::after {
            content: url(../images/hero-overlay.png);
            position: absolute;
            top: 0;
            right: -86px;
            z-index: -1;
         }
         &::after {
            right: auto;
            left: -78px;
            top: auto;
            bottom: 0;
            @include transform(rotate(180deg));
         }
         @media screen and (max-width: 1024px) {
            min-height: 300px;
         }

         @media screen and (max-width: 767px) {
            padding: 50px 25px;
            @include border-radius(24px);
         }
         .contents {
            width: 730px;
            max-width: 100%;
            text-align: center;
            & > * {
               color: $white;
            }
            @media screen and (max-width: 991px) {
               width: 650px;
            }
            .count-down {
               margin-top: 60px;
               color: $white-light;
               font-size: 34px;
               line-height: 45px;
               font-weight: $medium-font-weight;
               @media screen and (max-width: 1024px) {
                  margin-top: 30px;
               }
               @media screen and (max-width: 767px) {
                  margin-top: 0;
               }
            }
            h2 {
               line-height: 64px;
               letter-spacing: 0.01em;
               margin-bottom: 28px;
               font-weight: $semibold-font-weight;
               @media screen and (max-width: 767px) {
                  margin-bottom: 15px;
               }
            }
            h6 {
               font-weight: $light-font-weight;
               margin-bottom: 8px;
               @media screen and (max-width: 767px) {
                  margin-bottom: 5px;
               }
            }
            p {
               letter-spacing: 0.01em;
               font-size: $small-fnts;
               text-transform: uppercase;
            }
            .btn {
               margin-top: 50px;
               @media screen and (max-width: 767px) {
                  margin-top: 30px;
               }
            }
         }
      }
   }
}
