.language-switcher {
   position: absolute;
   top: -20px;
   right: 0;
   margin-right: 77px;
   font-size: 12px;
   @media screen and (max-width: 991px) {
      margin-right: 55px;
      top: -10px;
   }
   @media screen and (max-width: 767px) {
      margin-right: 20px;
   }
   a {
      &:hover {
         color: $black;
      }
      text-transform: uppercase;
   }
   span {
      font-size: 14px;
      margin-right: 5px;
   }
}
