.main-header {
   padding: 37px 0px;
   width: 100%;
   @media screen and(max-width: 991px) {
      //background-color: $white;
      padding: 15px 0px;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 999;
      & ~ section,
      & ~ div {
         margin-top: 74px;
      }
   }
   .container {
      width: 1354px;
      flex-flow: row wrap;
      @include flex(centerY);
   }
   .logo-wrap {
      margin-left: 27px;
      margin-right: 20px;
      width: 157px;
      @include flex(centerY);
      @media screen and (max-width: 991px) {
         max-width: 100%;
         width: 100%;
         margin-right: 0;
         //background-color: $white;
         .logo {
            max-width: 120px;
         }
      }
   }
}

.nav-toggler {
   padding: 0 5px;
   text-align: center;
   position: relative;
   color: $primary;
   margin-right: 30px;
   display: none;
   margin-left: auto;
   @media screen and (max-width: 991px) {
      display: block;
      margin-right: 0;
   }
   span,
   &::before,
   &::after {
      content: "";
      width: 28px;
      height: 3px;
      background: currentColor;
      display: block;
      margin: 0 auto;
      border-radius: 6px;
      @include transition(transform 0.3s ease-in);
   }
   span {
      width: 28px;
      margin: 4px 0;
   }
   &.expanded {
      width: 38px;
      height: 38px;
      span {
         display: none;
      }
      &::before,
      &::after {
         position: absolute;
         width: 30px;
         @include transform(rotate(45deg));
      }
      &::before {
         @include transform(rotate(-45deg));
      }
   }
}
