.roadmap-section {
   margin-top: 126px;
   padding-top: 197px;
   padding-bottom: 146px;
   //background: linear-gradient(180deg, #f9fafd 63.69%, rgba(244, 246, 251, 0) 100%);
   @include border-radius(0 0 54px 54px);
   // -webkit-clip-path: polygon(0 95px, 100% 0, 100% 100%, 0 100%);
   // clip-path: polygon(0 95px, 100% 0, 100% 100%, 0 100%);
   //transform: matrix(-1, 0, 0, 1, 0, 0);
   position: relative;
   overflow: hidden;
   z-index: 1;
   &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50px;
      width: 100%;
      height: 101%;
      background: linear-gradient(180deg, #f9fafd 63.69%, rgba(244, 246, 251, 0) 100%);
      @include transform(skew(0deg, -3deg));
      @include border-radius(54px);
      overflow: hidden;
      z-index: -1;
   }
   @media screen and (max-width: 991px) {
      margin-top: 100px;
      padding-top: 130px;
      padding-bottom: 100px;
   }
   @media screen and (max-width: 767px) {
      margin-top: 60px;
      padding-top: 80px;
      padding-bottom: 0;
      @include border-radius(0 0 24px 24px);
      // -webkit-clip-path: polygon(0 35px, 100% 0, 100% 100%, 0 100%);
      // clip-path: polygon(0 35px, 100% 0, 100% 100%, 0 100%);
   }
   .container {
      width: 1274px;
   }
   .section-lead {
      position: relative;
      .spinner {
         top: -30%;
         &:last-child {
            right: 0;
            top: -55%;
         }
      }
   }
   .contents-row {
      margin-top: 83px;
      @media screen and (max-width: 991px) {
         margin-top: 50px;
      }
      @media screen and (max-width: 767px) {
         margin-top: 0px;
      }
      & > .spinner {
         left: 5%;
         bottom: 10%;
         top: auto;
      }
      .figure {
         width: 45.22998296422487%;
         margin-top: 147px;
         position: relative;
         @media screen and (max-width: 991px) {
            margin-top: 100px;
         }
         @media screen and (max-width: 767px) {
            margin-top: 70px;
         }
         @media screen and (max-width: 575px) {
            max-width: 253px;
            margin: 30px auto 0;
         }
         & > .spinner {
            right: 0;
            top: 5%;
            bottom: auto;
         }
      }
      .content {
         width: calc(100% - 45.22998296422487%);
         padding-left: 66px;
         @media screen and (max-width: 767px) {
            padding-left: 30px;
         }
         @media screen and (max-width: 575px) {
            padding-left: 0px;
            padding-top: 0;
         }
      }
      .content-item {
         margin-top: 34px;
         h4,
         ul {
            padding-left: 72px;
            position: relative;
            &::before {
               content: "";
               position: absolute;
               left: 0;
               top: 10px;
            }
            @media screen and (max-width: 991px) {
               padding-left: 50px;
            }
            @media screen and (max-width: 767px) {
               padding-left: 40px;
            }
         }
         h4 {
            margin-bottom: 16px;
            &::before {
               width: 18px;
               height: 18px;
               border: 1.5px solid $primary;
               @include border-radius(50px);
               @media screen and (max-width: 767px) {
                  width: 12px;
                  height: 12px;
                  top: 8px;
               }
            }
         }
         ul {
            &::before {
               width: 1px;
               top: -2px;
               bottom: -15px;
               left: 9px;
               border-left: 2px dashed $primary;
               opacity: 0.3;
               @media screen and (max-width: 767px) {
                  left: 6px;
               }
            }
            li {
               line-height: 30px;
               & + li {
                  margin-top: 4px;
               }
            }
         }
         &:last-child {
            ul {
               &::before {
                  display: none;
               }
            }
         }
      }
   }
}
