.skillset-section {
   margin-top: 128px;
   position: relative;
   @media screen and (max-width: 991px) {
      margin-top: 100px !important;
   }

   @media screen and (max-width: 767px) {
      margin-top: 60px !important;
   }
   @media screen and (max-width: 575px) {
      margin-top: 10px !important;
   }
   .container {
      flex-flow: row wrap;
      .spinner {
         top: -15%;
         left: 0;
         bottom: auto;
         @include transform(translateX(0));
      }
   }
   .info {
      width: 32.87037037037037%;
      padding-right: 30px;
      margin-top: 32px;
      @media screen and (max-width: 575px) {
         width: 100%;
      }
      figure {
         margin-bottom: 44px;
         width: 277px;
         max-width: 100%;
         overflow: hidden;
         @include border-radius(24px);
      }
      h2 {
         margin-bottom: 16px;
      }
   }
   .skills {
      width: calc(100% - 32.87037037037037%);
      @media screen and (max-width: 575px) {
         width: 100% !important;
      }
      .card-row {
         margin-top: 0;
         margin-left: -14px;
         margin-right: -14px;
         .card {
            width: calc(100% / 3 - 28px);
            margin: 32px 14px 0;
            padding: 56px 30px 47px;
            @include border-radius(28px);
            @media screen and (max-width: 480px) {
               width: 100% !important;
            }
            figure {
               margin-bottom: 26px;
               width: 65px;
               height: 65px;
               background: $primary-gradient;
               @include border-radius(24px);
            }
            span {
               font-weight: $medium-font-weight;
            }
         }
      }
      @media screen and (max-width: 991px) {
         .card-row {
            .card {
               width: calc(100% / 2 - 28px);
            }
         }
      }
      @media screen and (max-width: 575px) {
         .info,
         .skills {
            width: 100% !important;
            padding-right: 0;
         }
      }
   }
   .spinner {
      left: 50%;
      top: auto;
      bottom: -25%;
      @include transform(translateX(-50%));
   }
}
