h2,
h3,
h4,
h5,
h6 {
  font-family: $default-font;
  font-weight: $medium-font-weight;
  color: $primary-transparent;
}
h2 {
  font-size: $heading2-fonts;
  line-height: $heading2-line-height;
  font-weight: $bold-font-weight;
  letter-spacing: 0.01em;
}
h3 {
  font-size: $heading3-fonts;
  line-height: $heading3-line-height;
  font-weight: $semibold-font-weight;
}
h4 {
  font-size: $heading4-fonts;
  line-height: $heading4-line-height;
}
h5 {
  font-size: $heading5-fonts;
  line-height: $heading5-line-height;
}
h6 {
  font-size: $heading6-fonts;
  line-height: $heading6-line-height;
}
strong {
  font-weight: $bold-font-weight;
}
.small-text {
  font-size: $small-fnts !important;
}

body {
  font-family: $default-font;
  font-weight: $default-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
[lang="ar"] {
  h2,
  h3,
  h4,
  h5,
  h6,
  body {
    font-family: $arabic-font;
  }
  h2,
  h3,
  h4,
  h5,
  h6,
  .card-row .card h5,
  .who-should-apply-section .options-col .option-wrap ul li,
  .program-phases-section .card-row .card span,
  .roadmap-section .contents-row .content-item h4,
  .skillset-section .skills .card-row .card span {
    font-weight: $bold-font-weight;
  }
  .countdown {
    font-family: $default-font;
  }
  .nav-wrap {
    ul {
      li {
        a {
          font-weight: 700;
        }
      }
    }
  }
}

p {
  letter-spacing: 0.02em;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 36px;
    line-height: 48px !important;
  }
  h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 30px;
    line-height: 38px !important;
  }
  h3 {
    font-size: 24px;
    line-height: 36px !important;
  }
  h4 {
    font-size: 20px;
    line-height: 28px !important;
  }
  h5 {
    font-size: 18px;
    line-height: 24px !important;
  }
  h6 {
    font-size: 16px;
    line-height: 22px !important;
  }
  body {
    font-size: 14px;
  }
}
