.who-should-apply-section {
   margin-top: 180px;
   padding-top: 160px;
   padding-bottom: 60px;
   &::after {
      @include transform(skew(0deg, 4deg));
   }
   @media screen and (max-width: 767px) {
      padding-top: 100px;
      margin-top: 30px !important;
   }
   .container {
      width: 1258px;
      flex-flow: row wrap;
      position: relative;
      &::before {
         content: "";
         width: 12px;
         height: 12px;
         background-color: #5b2a85;
         position: absolute;
         top: -52px;
         @include border-radius(50px);
         transition: 0.3s ease-in;
         animation: blink 3s;
         animation-iteration-count: infinite;
      }
   }
   .contents {
      margin-right: -40px;
   }
   .options-container {
      width: calc(100% - 44.81865284974093%);
      @media screen and (max-width: 991px) {
         width: 100%;
      }
   }
   .options-col {
      position: relative;
      flex-flow: row wrap;
      &::after {
         content: "";
         background: $primary;
         width: 1px;
         position: absolute;
         left: 50%;
         margin-left: -0.5px;
         top: 55px;
         bottom: 55px;
         opacity: 0.2;
      }
      @media screen and (max-width: 575px) {
         &::after {
            display: none;
         }
      }
      .option-wrap {
         padding-right: 10%;
         width: 50%;
         position: relative;
         & + .option-wrap {
            padding-right: 20px;
            padding-left: 10%;
         }
         &:first-child {
            padding-left: 40px;
            &::before {
               content: "";
               width: 12px;
               height: 12px;
               background-color: $pink;
               position: absolute;
               top: 20%;
               right: 25%;
               @include border-radius(50px);
               transition: 0.3s ease-in;
               animation: blink 3s;
               animation-iteration-count: infinite;
               animation-delay: 1.5s;
            }
         }
         @media screen and (max-width: 575px) {
            width: 100%;
            padding-left: 0 !important;
            padding-right: 0 !important;
            & + .option-wrap {
               margin-top: 30px;
               padding-right: 0;
            }
         }
         h4 {
            margin-top: 30px;
            margin-bottom: 20px;
         }
         ul {
            li {
               margin-top: 8px;
               font-weight: $medium-font-weight;
               color: $black-light2;
            }
         }
      }
   }
   .description-col {
      width: 44.81865284974093%;
      background-color: $white;
      padding: 50px 41px 50px 46px;
      @include border-radius(34px);
      @media screen and (max-width: 991px) {
         width: 100%;
         margin-top: 50px;
      }
      @media screen and (max-width: 575px) {
         padding: 30px 20px;
      }
      h2 {
         margin-bottom: 23px;
         letter-spacing: 0;
      }
      figure {
         width: 100%;
         margin-top: 33px;
         overflow: hidden;
         @include border-radius(24px);
      }
   }
}
